[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[alias]
  st = status
	co = checkout
	patch = add -p
	pick = cherry-pick
  graph = log --graph --pretty='format:%C(auto)%h%d %C(green)%an %C(blue)%ar %C(reset)%s'
  wt = worktree
	mod = submodule
[interactive]
	diffFilter = delta --color-only
[delta]
  pager = less -+X
  file-style = blue bold ul
  file-decoration-style = none
  line-numbers = true
	navigate = true
[merge]
	conflictStyle = zdiff3
[format]
	pretty = format:%C(auto)%h%d %C(reset)%s %C(dim)(%an, %ar)
[log]
	abbrevCommit = yes
[feature "format"]
	graph = format:%C(auto)%h%d %C(green)%an %C(blue)%ar %C(reset)%s
