[core]
	editor = nvim
	pager = delta
[init]
	defaultBranch = main
[alias]
  st = status
	co = checkout
	patch = add -p
	pick = cherry-pick
	graph = log --graph
  wt = worktree
	mod = submodule
[interactive]
	diffFilter = delta --color-only
[delta]
  pager = less -+X
  file-style = blue bold ul
  file-decoration-style = none
  line-numbers = true
	navigate = true
[merge]
	conflictStyle = zdiff3
